<div class="col-md-10 grid-margin stretch-card offset-1">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Gestion des marqueurs</h4>

            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Nom d'endroit</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Image</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Type</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Description</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Coordonnées géographiques</label>
                    <div class="">
                        <span class="input-group-addon bg-info bg-info" id="colored-addon1">
                          <i class="mdi mdi-shield-outline text-white"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon1">
                    </div>
                    <div class="">
                        <span class="input-group-addon bg-info bg-info" id="colored-addon1">
                          <i class="mdi mdi-shield-outline text-white"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="colored-addon1">
                    </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>