<div class="col-lg-8 grid-margin stretch-card offset-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gestion des marqueurs</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nom
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-1">
                                <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                            </td>
                            <td>
                                Herman Beck
                            </td>
                            <td>
                                <button class="btn btn-primary btn-rounded btn-fw" type="button">Modifier</button>&nbsp;
                                <button class="btn btn-danger btn-rounded btn-fw" type="button">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>