<div class="row">
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Lieux enregistrés</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ this.countPlaces.length }}</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Lieux de restauration</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ countPlacesForEating.length }}</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-poll-box text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Lieux de shopping</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ countPlacesShopping.length }}</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 offset-1 grid-margin stretch-card">
        <!--weather card-->
        <div class="card card-weather">
            <div class="card-body">
                <div class="weather-date-location">
                    <h3>{{ todayDateName }}</h3>
                    <p class="text-gray">
                        <span class="weather-date">{{ todayDate | date }}</span>&nbsp;&nbsp;
                        <span class="weather-location">Béni Mellal, MA</span>
                    </p>
                </div>
                <div class="weather-data d-flex">
                    <div class="mr-auto">
                        <h4 class="display-3">{{ CurrentCityTemp | number | shotenPipe }}
                            <span class="symbol">&deg;</span>C</h4>
                        <p>
                            {{ skyState }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--weather card ends-->
    </div>

</div>